div.raspored {
    width: 100%;
}
div.raspored > p {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

div.raspored-scroller {
    width: 100%;
    overflow-x: auto;
}
div.raspored-scroller > div {
    width: 100%;
    overflow-x: visible;
}
div.raspored-scroller > div > div {
    float: left;
    margin: 0;
}

div.raspored-blocks{
    position: relative;
}

div.raspored-heading {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    height: 58px;
}
div.raspored-heading > small{
    font-weight: normal;
    font-size: 60%;
}
div.raspored-vrijeme {
    width: 100%;
    background-color: #e4e4e4;
    display: table;
}
div.raspored-vrijeme > p {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    border-top: 1px solid black;
}
div.raspored-blocks > hr {
    position: absolute;
    left: 5%;
    width: 90%;
    border-color: black;
    margin: 0;
}
div.raspored-blocks > div {
    border: 1px solid #333333 !important;
    position: absolute;
    font-weight: bold;
    width: 96%;
    left: 2%;
    text-align: center;
}